
Proyeto de Unity prueba/Unity-TierraMedia/Library/
Proyeto de Unity prueba/Unity-TierraMedia/Temp/
Proyeto de Unity prueba/RecordAudio/Library/
Proyeto de Unity prueba/RecordAudio/Temp/
Proyeto de Unity prueba/RecordAudio/.vs/
Proyeto de Unity prueba/RecordAudio/obj/
Proyeto de Unity prueba/RecordAudio/bin/
Proyeto de Unity prueba/karaoke test/Library/
Proyeto de Unity prueba/karaoke test/Temp/
Proyeto de Unity prueba/karaoke test/.vs/
Proyeto de Unity prueba/karaoke test/obj/
Proyeto de Unity prueba/karaoke test/bin/